<%- include('header'); -%>

<!-- title -->
<div class="textBox" id="heading">
  <h1> during <%= Dday %> days and after</h1>
</div>

<!-- text -->
<div class ="textBox">
  <% postCollection.forEach((post, index) => { %>
    <div class="item">
      <p class="itemContent">

        <% if(post.content.length > 100){ %>
          <%= post.content.substring(0,200) + " ..." %>
          <a href="/posts/<%= post.id %>">Read More</a>
          <% console.log(index, post.id)%> 
        <% }else{ %>
          <%= post.content%>
        <% } %>
      </p>
      <p class="itemDate"><%= post.date %></p>
    </div>
  <% }) %>


  <form action="/" method="post">
      <textarea name="postBody" rows="5" cols="30"></textarea>
      <button type="submit" name="button">Share</button>
  </form>
</div>

<%- include('footer'); -%>