<%- include('header'); -%>

<!-- title -->
<div class="textBox" id="heading">
  <h1> during <%= Dday %> days and after</h1>
</div>

<!-- text -->
<div class ="textBox">
  <% postCollection.forEach(post => { %>
    <div class="item">
      <p class="itemContent">
        <%= post.content.substring(0,200) + " ..." %>
        <a href="/posts/<%= post.date %>">Read More</a>
      </p>
      <p class="itemDate"><%= post.date %></p>
    </div>
  <% }) %>


  <form action="/" method="post">
      <!-- <input type="text" name="newText"> -->
      <textarea name="postBody" rows="5" cols="30"></textarea>
      <button type="submit" name="button">Share</button>
  </form>
</div>

<%- include('footer'); -%>